<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" type="image/x-ico" th:href="@{/images/favico.ico}" />
    <title>Personal Web 找回密码</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- 引入样式 -->
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <!--<script type='text/javascript' src='../static/js/jquery.particleground.js'></script>-->
    <!--<script type='text/javascript' src='../static/js/demo.js'></script>-->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link th:href="@{/css/signin.css}" rel="stylesheet">
    <link th:href="@{/css/register.css}" rel="stylesheet">

</head>
<body>
<div class="container">

    <form th:action="@{/forget}" method="post" class="form-signin" id="forgetPassForm">
        <h2 class="form-signin-heading">手机验证</h2>
        <div class="form-group has-feedback">
            <label for="phone" class="sr-only">手机号</label>
            <input type="text" id="phone" name="phone" class="form-control" placeholder="请输入您的手机号" required>
        </div>
        <div class="form-group has-feedback">
            <label for="code" class="sr-only">验证码</label>
            <input type="text" id="code" class="form-control" name="code" placeholder="请输入验证码" required>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="button" onclick="sendPhone()" id="codeBtn" value="免费获取验证码"/>

        <div class="form-group"></div>

        <div class="form-group has-feedback">
            <label for="password" class="sr-only">新密码</label>
            <input type="text" id="password" class="form-control" name="password" placeholder="请输入新密码" required>
        </div>
        <div class="form-group has-feedback">
            <label for="repassword" class="sr-only">确定新密码</label>
            <input type="text" id="repassword" class="form-control" name="repassword" placeholder="请再次输入新密码" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="nextBtn">修 改</button>
    </form>

</div> <!-- /container -->

<!--<script src="../static/js/jquery.min.2.1.1.js"></script>-->
<!--<script src="../static/js/bootstrap.min.js"></script>-->
<!--<script src="../static/js/bootstrapValidator.min.js"></script>-->
<script th:src="@{/js/jquery.min.2.1.1.js}" ></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
<script th:src="@{/js/bootstrapValidator.min.js}" ></script>
<script>

    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数

    /*获取手机号码发送验证码*/
    function sendPhone(){
        curCount = count;

        //设置button效果，开始计时
        $("#codeBtn").attr("disabled", "true");
        $("#codeBtn").val(curCount + "秒后重新获取");
        InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次

        var formData = new FormData();
        var phone = $("#phone").val();
        formData.append("phone",phone);
        $.ajax({
            url:"/sendCode",
            type: 'post',
            async: false,
            data: formData,
            processData: false,// 告诉jQuery不要去处理发送的数据
            contentType: false,// 告诉jQuery不要去设置Content-Type请求头
            success: function (res) {
                if (res != null) {
                    alert("发送成功");
                    console.log("发送成功")
                } else {
                    alert("发送失败" + res);
                }
            },
            error:function(err){
                alert("发送失败" + err.message);
            }
        });
    }

    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止计时器
            $("#codeBtn").removeAttr("disabled");//启用按钮
            $("#codeBtn").val("重新发送验证码");
        }
        else {
            curCount--;
            $("#codeBtn").val(curCount + "秒后重新获取");
        }
    }





    $(function () {
        $('#forgetPassForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                phone: {
                    message: '手机号验证失败',
                    validators: {
                        notEmpty: {
                            message: '手机号不能为空'
                        },
                        stringLength: {
                            min: 11,
                            max: 11,
                            message: '手机号长度必须是11位'
                        },
                        regexp: {
                            regexp: /^[0-9_]+$/,
                            message: '手机号只能包含数字'
                        }
                    }
                },
                code: {
                    message: '请输入短信验证码',
                    validators: {
                        notEmpty: {
                            message: '短信验证码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 6,
                            message: '短信验证码长度为6'
                        },
                        regexp: {
                            regexp: /^[0-9_]+$/,
                            message: '短信验证码只能包含数字'
                        }
                    }
                },
                password: {
                    message: '密码验证失败',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 18,
                            message: '密码长度必须在6到18位之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: '密码只能包含大写、小写、数字和下划线'
                        }
                    }
                },
                repassword: {
                    message: '密码验证失败',
                    validators: {
                        callback: {
                            message: "两次输入的密码不一致!",
                            callback:function(){
                                return $('#password').val() == $('#repassword').val();
                            }
                        }
                    }
                }
            }
        }).on('success.form.bv', function (e) {//点击提交之后
            // 终止重复提交
            e.preventDefault();
            // 得到form表单对象
            var $form = $(e.target);
            // 获得bootstrap验证对象
            var bv = $form.data('bootstrapValidator');
            // Use Ajax to submit form data 提交至form标签中的action，result自定义
            $.post($form.attr('action'), $form.serialize(), function (data) {

                if (data == 200) {
                    alert("密码修改成功！")
                    //跳转到重置密码界面页面
                    window.location.href='/toLogin';
                } else if (data == 300) {
                    $("#nextBtn").removeAttr("disabled");
                    alert("手机号不存在或验证码输入错误！");
                }
            })
        });
    });
</script>
</body>
</html>