<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" type="image/x-ico" th:href="@{/images/favico.ico}" />

    <title>Personal Web</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!-- 引入样式 -->
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <!--<script type='text/javascript' th:src="@{/js/jquery.particleground.js}"></script>-->
    <!--<script type='text/javascript' th:src="@{/js/demo.js}"></script>-->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<style>
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #eee;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #3798e8;
    }

    ::-webkit-scrollbar-track {
        background-color: #eee;
    }
</style>
<body>
<!--<div id="particles">-->
    <!--<div id="intro" style="min-height: 100%;">-->
        <!--头部导航栏开始-->
        <div th:replace="~{/header :: header}"></div>
        <!--头部导航栏结束-->

        <!--正文内容部分开始-->
        <div class="container content">
            <div class="row">
                <!--左边内容-->
                <div class="col-sm-9 blog-main row-left">

                    <!--文章列表开始-->
                    <div  class="article-box">
                        <article th:each="bloglist:${PageInfo.list}" onmouseout="out(this)" class="article-content">
                            <!--插图标签-->
                            <figure class="article-left hidden-xs">
                                <span>
                                    <a th:href="@{'/blog/detail/' + ${bloglist.getBlogId()}}" style="width: 100%">
                                        <img th:src="@{${bloglist.getBlogCoverImage()}}" style="width: 100%" alt="图片加载失败啦啦啦啦啦啦">
                                    </a>
                                </span>
                            </figure>
                            <div class="article-right">
                                <h4><a th:href="@{'/blog/detail/' + ${bloglist.getBlogId()}}" class="title" th:text="${bloglist.getBlogTitle()}"></a></h4>
                                <div class="article-right-content" th:text="${bloglist.getBlogContent()}"></div>
                                <div class="article-right-info">
                                    <span class="glyphicon glyphicon-user user" style="color: #999;font-size: 14px;"> 李达豪</span>
                                    <span class="time hidden-xs">发表于:<span th:text="${#dates.format(bloglist.getCreateTime(), 'yyyy-MM-dd')}"></span></span>
                                    <ul>
                                        <li><a href="javascript:" class="glyphicon glyphicon-thumbs-up"><span>20</span></a></li>
                                        <li><a href="javascript:" class="glyphicon glyphicon-eye-open"><span th:text="${bloglist.getBlogViews()}"></span></a></li>
                                        <li><a href="javascript:" class="glyphicon glyphicon-edit"><span>20</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>

                        <!--<p>当前 <span th:text="${PageInfo.pageNum}"></span> 页,总 <span th:text="${PageInfo.pages}"></span> 页,共 <span th:text="${PageInfo.total}"></span> 条记录</p>-->
                        <a th:href="@{/index}">首页</a>
                        <a th:href="@{/index(pageNum=${PageInfo.hasPreviousPage}?${PageInfo.prePage}:1)}">上一页</a>
                        <a th:href="@{/index(pageNum=${PageInfo.hasNextPage}?${PageInfo.nextPage}:${PageInfo.pages})}">下一页</a>
                        <a th:href="@{/index(pageNum=${PageInfo.pages})}">尾页</a>
                    </div>
                    <!--文章列表结束-->

                </div>
                <!--左边内容-->

                <!--右边内容-->
                <div class="hidden-xs col-sm-2 col-sm-offset-1 blog-sidebar row-right">
                    <!--关于本站-->
                    <div class="sidebar-module sidebar-module-inset personal-info">
                        <h3 class="title">
                            <span class="glyphicon glyphicon-list"></span>
                            关于本站
                        </h3>
                        <!--图标-->
                        <div class="profie">
                            <div class="profie-top">
                                <div>
                                    <img th:src="@{/images/logo2.png}">
                                </div>
                                <div class="inspire">
                                    The man who has made up his mind to win will never say "impossible "
                                </div>
                            </div>
                            <div class="contact">
                                <a href="javascript:"><span>微信</span></a>
                                <a href="javascript:"><span>QQ</span></a>
                                <a href="javascript:"><span>微博</span></a>
                                <a href="javascript:"><span>Github</span></a>
                            </div>
                        </div>
                        <!--图标-->
                        <!--信息-->
                        <div class="info">
                            <span>文章: 300</span>
                            <span>留言：300</span>
                        </div>
                        <!--信息-->
                    </div>
                    <!--关于本站-->
                    <!--热门标签-->
                    <div class="sidebar-module sidebar-module-inset personal-info web">
                        <h3 class="title">
                            <span class="glyphicon glyphicon-list"></span>
                            热门标签
                        </h3>
                        <div class="web-info" id="app">
                            <ul>
                                <li><a href="javascript:"><button type="button" class="btn btn-danger">spring</button></a></li>
                                <li><a href="javascript:"><button type="button" class="btn btn-primary">Vue</button></a></li>
                                <li><a href="javascript:"><button type="button" class="btn btn-success">SpringMVC</button></a></li>
                                <li><a href="javascript:"><button type="button" class="btn btn-info">Mybatis</button></a></li>
                                <li><a href="javascript:"><button type="button" class="btn btn-warning">Springboot</button></a></li>
                                <li><a href="javascript:"><button type="button" class="btn btn-danger">Redis</button></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--热门标签-->
                    <!--热门文章-->
                    <div class="sidebar-module sidebar-module-inset personal-info hot">
                        <h3 class="title">
                            <span class="glyphicon glyphicon-list"></span>
                            热门文章
                        </h3>

                    </div>
                    <!--热门文章-->
                </div>
                <!--右边内容-->
            </div>
        </div>
        <!--正文内容部分结束-->

        <div th:replace="~{/footer :: footer}"></div>

    <!--</div>-->
<!--</div>-->

</body>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!--<script src="../static/js/jquery.min.2.1.1.js"></script>-->
<script th:src="@{/js/jquery.min.2.1.1.js}" ></script>
<script language="javascript">

    <!--字体闪烁-->
    function changeColor(){
        var color="#f00|#0f0|#00f|#880|#808|#088|yellow|green|blue|gray";
        color=color.split("|");
        document.getElementById("blink").style.color=color[parseInt(Math.random() *
            color.length)];
    }
    setInterval("changeColor()",1000);

    /*鼠标移开文章盒子事件*/
    function out(obj) {
        obj.style.transition="all 2s";
    }

</script>
</html>