<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" type="image/x-ico" th:href="@{/images/favico.ico}" />
    <title>Personal Web 注册</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- 引入样式 -->
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <!--<script type='text/javascript' src='../static/js/jquery.particleground.js'></script>-->
    <!--<script type='text/javascript' src='../static/js/demo.js'></script>-->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link th:href="@{/css/signin.css}" rel="stylesheet">
    <link th:href="@{/css/register.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <form th:action="@{/register}" method="post" class="form-signin" id="registerForm">
        <h2 class="form-signin-heading">注册</h2>
        <div class="form-group has-feedback">
            <label for="username" class="sr-only">用户名</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="请输入用户名" required>
        </div>
        <div class="form-group has-feedback">
            <label for="password" class="sr-only">密码</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="请输入密码" required>
        </div>
        <div class="form-group has-feedback">
            <label for="password" class="sr-only">确定密码</label>
            <input type="password" id="repassword" class="form-control" name="repassword" placeholder="请再次输入密码" required>
        </div>
        <div class="form-group has-feedback">
            <label for="password" class="sr-only">手机号</label>
            <input type="password" id="phone" class="form-control" name="phone" placeholder="请输入手机号" required>
        </div>
        <div class="checkbox remember">
            <span>已有账号？<a href="javascript:" th:href="@{~/toLogin}">登录</a></span>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" id="registerBtn">注 册</button>
    </form>

</div> <!-- /container -->


<script th:src="@{/js/jquery.min.2.1.1.js}" ></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
<script th:src="@{/js/bootstrapValidator.min.js}" ></script>
<script>
    $(function () {
        $('#registerForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    message: '用户名验证失败',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 18,
                            message: '用户名长度必须在6到18位之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: '用户名只能包含大写、小写、数字和下划线'
                        }
                    }
                },
                password: {
                    message: '密码验证失败',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 18,
                            message: '密码长度必须在6到18位之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: '密码只能包含大写、小写、数字和下划线'
                        },
                        different: {//不能和用户名相同
                            field: 'username',
                            message: '不能和用户名相同'
                        }
                    }
                },
                repassword: {
                    message: '密码验证失败',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 18,
                            message: '密码长度必须在6到18位之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: '密码只能包含大写、小写、数字和下划线'
                        },
                        identical: {//相同
                            field: 'password',
                            message: '两次密码不一致'
                        },
                        different: {//不能和用户名相同
                            field: 'username',
                            message: '不能和用户名相同'
                        }
                    }
                },
                phone: {
                    message: '手机验证失败',
                    validators: {
                        notEmpty: {
                            message: '手机不能为空'
                        },
                        stringLength: {
                            min: 11,
                            max: 11,
                            message: '手机长度必须为11位'
                        },
                        regexp: {
                            regexp: /^1[3|5|8]{1}[0-9]{9}$/,
                            message: '请输入正确的手机号码'
                        },
                        different: {//不能和用户名相同
                            field: 'username' + 'password',
                            message: '不能和用户名相同'
                        }
                    }
                }
            }
        }).on('success.form.bv', function (e) {//点击提交之后
            console.log("1");
            // 终止重复提交
            e.preventDefault();
            // 得到form表单对象
            var $form = $(e.target);
            // 获得bootstrap验证对象
            var bv = $form.data('bootstrapValidator');
            console.log("2");
            // Use Ajax to submit form data 提交至form标签中的action，result自定义
            $.post($form.attr('action'), $form.serialize(), function (data) {
                console.log("3"+data);
                if (data.status == 200) {
                    //注册成功跳转到登录页面
                    //TODO 精美的弹出框
                    alert("注册成功！");
                    console.log("44");
                    window.location.href='/toLogin';
                } else if (data.status == 300) {
                    console.log("4");
                    $("#registerBtn").removeAttr("disabled");
                    alert(data.msg);
                }
            })
        });
    });
</script>
</body>
</html>