body{
    background-color: #f1f1f1;
}

/*头部开始*/
.header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
.navbar-brand{
    padding: 0;
    line-height: 50px;
}
.navbar{
    background-color: #fff;
    box-shadow: 0 2px 3px hsla(0,0%,7%,.1), 0 0 0 1px hsla(0,0%,7%,.1);
}
.nav{
    padding-left: 30px;
}
.navbar .nav>li>a{
    height: 100%;
    display: block;
    color: #9d9d9d;
}
.search-form{
    margin-left: 86px;
}
.search-form button{
    border: none;
    padding: 0;
    font-weight: normal;
    color: #000000;
}

.search-form button:hover{
    border: none;
    background: transparent;
}

/*.navbar .nav>li:hover{*/
    /*border-bottom: 2px solid red;*/
    /*color: #000000;*/
/*}*/
/*.navbar .nav .active>a{*/
    /*!*background-color: #fff;*!*/
    /*border-bottom: 2px solid red;*/
    /*color: #000000;*/
/*}*/
/*.navbar .nav .active>a:hover{*/
    /*!*background-color: #fff;*!*/
/*}*/
/*头部结束*/
/*==================================================正文部分开始========================================================*/

/*正文部分开始*/
.content{
    padding-top: 86px;
    min-height: 100%;
}
.content .row{
    background-color: transparent;
}

/*轮播图开始*/
.carousel_bg{
    margin-bottom: 14px;
    border-radius: 4px;
    box-shadow: 0 0 2px 0;
}
.list-box{
    border-radius: 4px;
}
.carousel-inner .item > img{
    height: 300px;
    width: 100%;
    border-radius: 4px;
}
.arow-left{
    border-radius: 4px 0 0 4px;
}
.arow-right{
    border-radius: 0 4px 4px 0;
}
/*轮播图结束*/
/*文章列表开始*/
/*文章列表悬浮效果*/
.article-box .article-content:hover{
    box-shadow: 0 0 40px #88888888;
    transition: all 2s;
}
.row-left .article-content{
    position: relative;
    background: #fff;
    margin: 0 0 10px 0;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    display: flex;
    border: 1px solid #eee;
}
.row-left .article-content .article-left{
    width: 34%;
    overflow: hidden;
    margin-right: 10px;
}

.row-left .article-content .article-left img{
    transition: all 2s;
    height: 158px;
}

.row-left .article-content .article-left img:hover{
    transform: scale(1.4);
}

.row-left .article-content .article-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.row-left .article-content .article-right h4{
    text-align: left;
    font-size: 18px;
}

.article-content .article-right .article-right-info{
    display: flex;
    justify-content: space-between;

}
.article-content .article-right .article-right-info ul{
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    color: #999;
}

.article-content .article-right .article-right-content{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.row-left .article-content .article-right .article-right-content{
    color: #999;
    font-size: 14px;
}

.article-content .article-right .article-right-info a:hover{
    text-decoration: none;
    font-size: 14px;
    color: #999;
}
.article-content .article-right .article-right-info a:link{
    text-decoration: none;
    font-size: 14px;
    color: #999;
}
.article-content .article-right .article-right-info a:visited{
    text-decoration: none;
    font-size: 14px;
    color: #999;
}
.article-content .article-right .article-right-info a:active{
    text-decoration: none;
    font-size: 14px;
    color: #999;
}

.row-left .article-content .article-right .title:hover{
    color: #555;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.article-content .article-right .article-right-info a span{
    padding-left: 6px;
}

.article-content .article-right .article-right-info ul li{
    list-style: none;
    padding-right: 14px;
}
.article-content .article-right .article-right-info ul li:last-child{
    padding-right: 0;
}
/*右下角图标*/
.glyphicon-user:before{
    padding-top: 2px;
}
.glyphicon-eye-open:before{
    padding-top: 2px;
}
.glyphicon-thumbs-up:before{
    padding-top: 2px;
}
.glyphicon-edit:before{
    padding-top: 2px;
}
.article-right-info .time{
    color: #999;
    font-size: 14px;
    padding-top: 2px;
    /*left: 320px;*/
    /*position: absolute;*/
}
/*文章列表结束*/


/*分页按钮*/
.page{
    text-align: center;
    margin: 18px 0;
}
.page a{
    background-color: #fff;
    border: 1px solid;
    border-radius: 6px;
    padding: 2px;
}
.page a:hover{
    text-decoration: none;
    background-color: #f1f1f1;
}


/*正文部分结束*/
/*=======================================================正文部分结束====================================================*/


/*=======================================================个人信息开始====================================================*/
/*!*个人信息开始*!*/
/*关于本站*/
.row-right .profie{
    background-color: #fff;
}
.row-right .personal-info{
    border: 1px solid #ddd;
}
.row-right .personal-info .profie-top{
    display: flex;
    padding: 20px;
    height: 110px;
}
.row-right .personal-info .profie-top img{
    border: 4px solid #ddd;
    border-radius: 50px;
}
.row-right .personal-info .profie-top .inspire{
    width: 100%;
    padding-left: 15px;
}
.col-sm-offset-1{
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}
.col-sm-2{
    width: 24.666667%;
}
.personal-info .title{
    background: #f8f8f8;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.personal-info .title>span{
    line-height: 40px;
    padding: 0 10px 0;
}

.profie .contact{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.profie .contact>a:hover{
    text-decoration: none;
}
.personal-info .info{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    line-height: 40px;
    background: #f8f8f8;
    border-top: 1px solid #ddd;
}
/*关于本站*/
/*热门标签*/
.personal-info .web-info{
    background-color: #fff;
}
.personal-info .web-info ul{
    margin: 0;
    padding: 20px;
    font-size: 16px;
}
.personal-info .web-info ul li{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.personal-info .web-info ul li button{
    text-transform: none;
}
.row-right .web{
    margin-top: 15px;
}

.row-right .hots{
    margin-top: 15px;
}


/*热门博客*/
.hot{
    background-color: #fff;
    margin-top: 0;
}

.hot ol{
    padding: 20px;
    font-size: 16px;
}

.hot ol li{
    margin-bottom: 4px;
}

.hot ol li span{
    height: 20px;
    line-height: 100%;
    margin-bottom: 2px;
}

.hot ol li{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
}

.hot ol li a:hover{
    text-decoration: none;
}

/*个人信息结束*/
/*=======================================================个人信息结束====================================================*/

.footer{
    height: 54px;
    line-height: 54px;
    background-color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/*======================================================文章详情页======================================================*/
